.footer-component {
  background-color: rgba(24, 24, 24, 0.86);
  position: relative;

  .first-row {
    padding: 20px 0;
    border-bottom: 1px solid #c1c1c1;
  }

  .second-row {
    padding: 20px 0;
  }

  .third-row {
    padding-bottom: 80px;
  }

  .footer-list {
    list-style: none;
    padding-left: 0;
  }

  a {
    color: white;
  }

  /*.third-row{
    background-color: #b00b1c;
   border: #b00b1c;
    width: 200%;
  }*/
}

.last-row {
  background-color: #b00b1c;
  border: #b00b1c;
  padding: 20px 0;
  bottom: 0;
  position: absolute;
  width: 100%;
}
