<div class="footer-component">
  <div class="container">


    <div class="row second-row">

      <div class="col-lg-3">
        <ul class="footer-list">
          <li><a href="http://www.cipf.ca/HomePage.aspx" target="_blank">CIBC World Market Inc. is a member of the
            Canadian Investor Protection Fund </a></li>
        </ul>
      </div>

      <div class="col-lg-3">
        <ul class="footer-list">
          <li>
            <a href="http://www.cibccm.com/cibc-eportal-web/portal/wm?pageId=cibcwm-usbd-disclosures&language=en_CA"
               target="_blank"> CIBC World Markets Corp. (US Broker-Dealer) Disclosures Privacy and Security</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3">

        <ul class="footer-list">
          <li>
            <a href="http://www.cibccm.com/cibc-eportal-web/portal/documents?path=multiple-marketplace-disclosure.pdf"
               target="_blank">Ownership Interest in TMX Group</a>
          </li>
        </ul>
      </div>

      <div class="col-lg-3">

        <ul class="footer-list">
          <li>
            <a
              href="http://www.cibccm.com/cibc-eportal-web/portal/documents?path=worldMarket/trade-matching-statement-en.pdf"
              target="_blank"> CIBC World Markets Inc. Trade Matching Statement</a>
          </li>
          <li>
            <a href="https://www.cibc.com/ca/accessibility/index.html" target="_blank">Accessibility at CIBC</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row third-row">
      <div class="col-lg-3">
        <a href="http://www.cibccm.com/cibc-eportal-web/portal/wm?pageId=fatca&language=en_CA" target="_blank">The U.S.
          Foreign Account Tax Compliance Act (FATCA)</a>
      </div>
      <div class="col-lg-3"></div>
      <div class="col-lg-3"></div>
      <div class="col-lg-3">
      </div>
    </div>

    <div class="row first-row">
      <div class="col-lg-3">
        <a href="http://www.cibcwm.com/wm/terms.html" target="_blank">
          <i class="icofont icofont-file-alt"></i>
          Terms of use
        </a>
      </div>
      <div class="col-lg-3">
        <a href="http://www.cibcwm.com/wm/site-map.html" target="_blank">
          <i class="icofont icofont-site-map"></i>
          Site Map
        </a>
      </div>
      <div class="col-lg-3">
        <a href="https://www.cibc.com/ca/accessibility/index.html" target="_blank">
          <i class="icofont icofont-wheelchair"></i>
          Accessibility at CIBC
        </a>
      </div>
      <div class="col-lg-3"></div>
    </div>

  </div>

  <!-- last footer -->
  <div class="last-row">
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <div class="connect-text">
            <img class="footer-logo-image" src="assets/images/login_logo.png" alt="CIBC">
            Canadian Imperial Bank of Commerce Website - Copyright © CIBC.
          </div>
        </div>
        <div class="col-lg-3 social-section">
          <span class="connect-text connect-text-us">Connect with us:</span>
          <i class="icofont icofont-social-facebook"></i>
          <i class="icofont icofont-youtube-play"></i>
          <i class="icofont icofont-social-twitter"></i>
          <i class="icofont icofont-social-linkedin"></i>
        </div>
      </div>
    </div>
  </div>
</div>


