.footer-component {
  background-color: rgba(24, 24, 24, 0.86);
  position: relative;

  i {
    color: white;
    padding: 0 5px;
  }

  .connect-text{
    color: white;
  }
  .footer-logo-image{
    height: 50px;
    width: 60px;
    border: 1px solid #fff;
    margin-right: 10px;
  }

  .first-row {
    padding: 20px 0;
    border-bottom: 1px solid #c1c1c1;
  }

  .second-row {
    padding: 20px 0;
  }

  .third-row {
    padding-bottom: 20px;
  }
  .connect-text-us{
    margin-right: 15px;
  }
  .social-section{
    padding-top: 10px;
  }

  .footer-list {
    list-style: none;
    padding-left: 0;
  }

  a {
    color: white;
  }

  /*.third-row{
    background-color: #b00b1c;
   border: #b00b1c;
    width: 200%;
  }*/
}

.last-row {
  background-color: #b00b1c;
  border: #b00b1c;
  padding: 20px 0;
}
