<abcp-full-banner [title]="fullBannerData.title"
                  [text]="fullBannerData.text"
                  [buttonName]="fullBannerData.buttonName"
                  [videoUrl]="fullBannerData.videoUrl"></abcp-full-banner>
<div class="container abcp-heading">
  <h2>Asset-Backed Commercial Paper</h2>
</div>
<div class="container abcp-heading">
  <b>Investor Reports and Monthly Statistics</b></div>
<abcp-archive-table [tableData]="abcpTable"
            [title]="abcpTableTitle"></abcp-archive-table>

<abcp-banner [title]="bannerData.title" [buttonName]="bannerData.buttonName"></abcp-banner>
