.abcp-table-component{
  padding: 20px 0;

  .chip-span{
    font-size: 12px;
    padding: 5px 20px;
    border-radius: 20px;
    border: 2px solid #c1c1c1;
    color: inherit;
    text-decoration: none;
  }

  .abcp-table-row{
    padding: 0;
    font-size: 14px;
    color: rgba(0,0,0,.87);

    &:hover{
      color: white;
      .chip-span {
        border: 2px solid white;
      }
    }
  }

  .abcp-table-col{
    padding: 12px 24px;
    border-bottom: 1px solid rgba(0,0,0,.12);
    &:hover {
      background-color: #b00b1c;
    }
  }

  .date{
    /*
    text-align: center;
    */
  }

  .action{
    text-align: right;
  }

  .table-title{
    color: #b00b1c;
    padding: 10px;
    border-bottom: 1px solid #c1c1c1;
    margin-bottom: 20px;
  }

  .abcp-table{
    width: 100%;
  }
}
