.sidenav-container {
  height: 100%;
  z-index: 3;
  background-color: inherit;

  .mat-list-base{
    padding-top: 0;
  }
  .mat-toolbar {
    background-color: white;
  }

  .mobile-menu-link{
    border-bottom: 1px solid #c1c1c1;
  }

  .navigation-bar{
    background-color: #b00b1c;
    color: white;

    .icon-home{
      padding-right: 5px;
    }

    .close-nav{
      position: absolute;
      right: 0;
      top: 15px;
      font-size: 20px;
    }

    i{
      color: white;
      padding-right: 5px;
    }
  }
}
.mat-list-option:not(.mat-list-item-disabled):hover, .mat-nav-list .mat-list-item:not(.mat-list-item-disabled):hover{
  background-color: #b00b1c;
}
.mobile-toolbar {
  text-align: center;
  border-bottom: 2px solid #b00b1c;

  .black-iocn{
    color: #919191;
    font-size: 26px;
    margin-left:10px;
  }
}

/*.mat-drawer-container {
  > div {
    z-index: 6;
  }
  .mat-drawer {
    z-index: 6;
  }
  .mat-drawer-shown {
    z-index: 6 !important;
  }
  .mat-drawer-backdrop {
    z-index: 6 !important;
  }
}*/
.mat-drawer-transition .mat-drawer-backdrop{}

.mat-drawer-content {
  //z-index: 5;
  .mat-toolbar {
    &.mat-white {
      //z-index: 5
    }
  }
}

.cibc-flex-col{
  display: flex;
}
.menu-row {
  width: 100%;
  background-color: #f5f5f5;
  .top-link {
    border-left: 1px solid #d1d1d1;
    padding: 5px 15px;
    font-size: 14px;
    font-weight: normal;
    color: #0c0a0a;
    text-decoration: none;

    &:last-child{
      border-right: 1px solid #d1d1d1;
    }

    &:hover{
      background-color: #d1d1d1;
    }
  }
}

.logo-row {
  padding: 20px 0;
  color: #b00b1c;
  font-size: 14px;
  display: flex;

  .link-col{
    align-self: flex-end;
  }

  .footer-logo-image{
    height: 55px;
  }
  .logo-row-link-border {
    border-left: 1px solid #c1c1c1;
  }
  .logo-row-link {
    padding: 0 10px;
    color: #b00b1c;

  }
}

.hidden {
  display: none !important;
}

.header-content {
  position: relative;
}
.mobile-dropdown-menu {
  position: absolute;
  width: 100%;
  top: 68px;
  z-index: 5;
  border: 1px solid #b00b1c;

  // Animation
  max-height: 0;
  //transition: max-height 0.17s ease-out;
  overflow: hidden;

  &.shown {
    display: flex;
    max-height: 84px;
    transition: max-height 0.17s ease-in;
  }

  .dropdown-menu-item {
    width: 50%;
    text-align: center;
    padding: 15px 50px;
    background: white;
    border: 1px solid #b00b1c;
    line-height: 1.5;

    &:hover{
      color: #919191;
    }
    .item-text{
      font-size: 14px;
      color: #919191;
    }

    i {
      font-size: 28px;
      color: #919191;
    }
  }
}
.sidenav {
  width: 80%;
}

.sidenav .mat-toolbar {
  background: inherit;
}
.handset-logo{
  //padding-left: 10px;
}

.handset-sign-on{
  font-size: 30px;
  padding-right: 20px;
  color: #919191;
}
.mat-sidenav-content {
  .header-toolbar {
    padding: 0;
    display: block;
    height: auto;
  }
  .mobile-toolbar{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
  }
}

.mat-toolbar.mat-white {
  position: sticky;
  top: 0;
  z-index: 1;
}

/*.mat-icon-button{
  &:focus{
    outline: none;
  }
  &.cdk-program-focused{
    background-color: white !important;

    .mat-button-focus-overlay {
      display: none !important;
    }
  }

}*/

.mat-button,
.mat-icon-button {
  &:focus{
    outline: none;
  }
  &.cdk-focused,
  &.cdk-program-focused {
    background-color: white !important;

    .mat-button-focus-overlay {
      display: none !important;
    }
  }
}

