<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <abcp-header></abcp-header>
</div>
<h2>Here are some example of Material components </h2>
<button mat-raised-button>
  <mat-icon>face</mat-icon>
  Material Raised Button
</button>
<mat-checkbox>Check me!</mat-checkbox>
<abcp-full-banner></abcp-full-banner>
<abcp-table [tableData]="abcpTable1"
            [title]="abcpTableTitle1"></abcp-table>
<abcp-table></abcp-table>
<abcp-table></abcp-table>
<abcp-banner></abcp-banner>

<abcp-footer>


</abcp-footer>
