<!--The content below is only a placeholder and can be replaced.-->
<abcp-header>

  <abcp-full-banner [title]="fullBannerData.title"
                    [text]="fullBannerData.text"
                    [buttonName]="fullBannerData.buttonName"
                    [videoUrl]="fullBannerData.videoUrl"></abcp-full-banner>

  <abcp-table [tableData]="abcpTable1"
              [title]="abcpTableTitle1"></abcp-table>
  <abcp-table [tableData]="abcpTable2"
              [title]="abcpTableTitle2"></abcp-table>
  <abcp-table [tableData]="abcpTable3"
              [title]="abcpTableTitle3"></abcp-table>

  <abcp-banner [title]="bannerData.title" [buttonName]="bannerData.buttonName"></abcp-banner>

  <abcp-footer></abcp-footer>
</abcp-header>

