<div class="abcp-table-component">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="table-title">{{title}}</div>
      </div>
      <div class="col-lg-6">

      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <!--<table mat-table [dataSource]="tableData" class="abcp-table">

          &lt;!&ndash;- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" &ndash;&gt;
          &lt;!&ndash; Name Column &ndash;&gt;
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element"> {{element.name}}</td>
          </ng-container>

          &lt;!&ndash; Weight Column &ndash;&gt;
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element" class="date"> {{element.date}}</td>
          </ng-container>

          &lt;!&ndash; Symbol Column &ndash;&gt;
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element" class="action"><span class="chip-span">{{element.action}}</span></td>
          </ng-container>

          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>-->

        <div class="row abcp-table-row mat-table" *ngFor="let row of tableData">
          <div class="col-lg-6 text abcp-table-col">{{row.name}}</div>
          <div class="col-lg-3 date abcp-table-col">{{row.date}}</div>
          <div class="col-lg-3 action abcp-table-col"><span class="chip-span">{{row.action}}</span></div>
        </div>
      </div>
    </div>
  </div>
</div>
